<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title> Room - Moose </title>
		<!-- Bootstrap -->
		<link href="../css/bootstrap.css" rel="stylesheet">
		<link href="../css/bootstrap-grid.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="../css/the_room.css">
	</head>
	<body>
		<div class="container">
			<div class="row d-flex justify-content-center">
				<p id="roomNameHeader"> {{roomName}} </p>
			</div>
			<div class="row d-flex justify-content-center">
				<p id="roomCodeHeader"> Room code: {{roomCode}} </p>
			</div>
			<div class="row justify-content-center">
				 <div id="roomInfoHeader" class="d-flex flex-column"> 
					<div class="row">
						{{#isUserHost}}
						<div id="player" class="embed-responsive-item">			

						</div> 
						{{/isUserHost}}
					</div> 
					<div class="row d-flex justify-content-center">
						{{!-- <span id = "currentSong" id="{{currenSongID}}"> {{currentSongName}} </span> --}}
					 </div> 
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
				<div class="card">
						{{#isUserHost}}
						<div class="card-header">
							<h1 class="card-title"> Up Next </h1>
						</div>
						<div class="card-body">
							<ul class="list-group" id="songQueue">
								{{#queue}}
									<li class="list-group-item songInQueue" id="{{songID}}"> {{songName}} </li>
								{{/queue}}
							</ul>
						</div>
						{{/isUserHost}}
					</div>	
				</div>
				<div class="col-md-4">
					<div class="card">
						<div class="card-header">
							<h1 class="card-title"> Search Results </h1>
						</div>
						<div class="card-body" id="songArray">
							
						</div>
					</div>
					<form class="form">
						<div class="form-group">
							<input type="Search" class="form-control" name="query" id="Search" placeholder="Search for music">
                            <button type="button" id = "moveSearch" class="btn btn-default" onclick="loadSearch()"> Search </button>
						</div>
					</form>
				</div>
				<div class="col-md-4">
					<div class="row d-flex justify-content-center">
						{{#isUserHost}}
						<div class="card">
							<div class="card-header">
								<h1 class="card-title"> Users currently in Room </h1>
							</div>
							<div class="card-body" id="users">
								{{#usersInRoom}} 
								<h5 class="card-user">
									{{username}}
								</h5>
								{{/usersInRoom}}
							</div>
						</div>
						{{/isUserHost}}
					</div>
					<div class="row">
						{{#isUserHost}}
				 			<button type="button" id = "moveCloseRoom" class="btn btn-md" onclick="closeRoom()">Close Room</button> 
						{{/isUserHost}}
					</div>
				</div>
			</div>
		</div>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script>
			$(document).keypress(function(event){
				if (event.which == '13') {
					event.preventDefault();
				}
			});
		</script>
		<script src="../js/bootstrap.min.js"></script>
		<script src="../js/youtube.js"></script>
		<script type="text/javascript">
			// connect user to websocket
			var ws = new WebSocket('ws://localhost:3030');
			ws.onopen = function() {
				
			}
			ws.onmessage = function(data) {
				var json = JSON.parse(data.data);
				console.log(json)
				updatePage(json);	
			}

			setInterval(function() {
				ws.send('pls send');
			}, 5000);
			

			function updatePage(json) {
				var queue = json['queue'];
				var users = json['usersInRoom'];
				var songs = json['songSearch']

				var queueEl = document.getElementById('songQueue');
				var userListEl = document.getElementById('users');

				// clear them
				userListEl.innerHTML = '';
				queueEl.innerHTML = '';

				for(var i = 0; i < queue.length; i++) {
					var songID = queue[i]['songID'];
					var songName = queue[i]['songName'];
					var el = document.createElement('li');
					el.classList.add('list-group-item');
					el.classList.add('songInQueue');
					el.id = songID;
					el.textContent = songName;
					queueEl.append(el);
				}

				for(var j = 0; j < users.length; j++) {
					var username = users[j]['username'];
					var el = document.createElement('h5');
					el.classList.add("card-user");
					el.textContent = username;
					userListEl.append(el);
				}
			}
			    function loadSearch(){
					let array = document.getElementById("songArray");
					var query = document.getElementById('Search').value;
					var roomCode = window.location.href.split('/')[4]; // might change
					array.innerHTML = '';
			        fetch('/room/' + roomCode + '/search/?query=' + query).then(function (response) {
                        return response.json();

                    }).then(function (json) {
                        for(let n=0; n < 10; n++) {
                            var song = document.createElement('button');
                            {{!-- song.setAttribute('text', json.data[n].title); --}}
                            song.textContent = json.data[n].title;	
							song.setAttribute('id', json.data[n].id);
							song.classList.add('songResultButton');	
							song.addEventListener('click', addSongToQueue);				
                            array.append(song);
                        }

                    }).catch(function(error){
			            console.log(error);
                    });
                }

				function addSongToQueue(event) {
					var songID = event.target.id;
					var roomCode = window.location.href.split('/')[4]; // might change
					var name = event.target.textContent;
					var data = {
						song: songID,
						room: roomCode,
						{{!-- position: song_position, --}}
						name: name
					};
					fetch('/song/add', {
						method: 'POST',
						body: JSON.stringify(data),
						headers: {
							"Content-Type": "application/json"
						}
					}).then(function(response) {
						console.log('ok')
					});
				}

				function ISODateString(d){
					function pad(n){return n<10 ? '0'+n : n}
					return d.getUTCFullYear()+'-'
						+ pad(d.getUTCMonth()+1)+'-'
						+ pad(d.getUTCDate()) +' '
						+ pad(d.getUTCHours())+':'
						+ pad(d.getUTCMinutes())+':'
						+ pad(d.getUTCSeconds())
				}

				function closeRoom() {
					{{!-- 20446 --}}
					var roomCode = 20446;
					{{!-- var roomCode = window.location.href.split('/')[4]; // might change --}}
					var data = {
						room: roomCode,
					};
					fetch('/room/delete', {
						method: 'POST',
						body: JSON.stringify(data),
						headers: {
							"Content-Type": "application/json"
						}
					}).then(function(response) {
						console.log('deleted');
						window.location = ('/rooms');
					});
				}
		</script>
	</body>
</html>